.shopSection{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: solid;
    background-color: rgb(2, 100, 107);
    margin-top:10px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    width: 100%;
    border-radius: 2em;
    text-decoration:none;
}
.shopSection h5{
    text-decoration:none;
    text-decoration-line: none;
}
h5{
    text-decoration:none;
    text-decoration-line: none;
    text-decoration-color: black;
    color:black;
}